body{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.div_left{
    height: 100vh;
    width: 100vb;
    
    
    background-image: url("photo-1601042879364-f3947d3f9c16.avif");
    background-repeat: no-repeat;
    background-size: 100vh;
}



.div_right{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form_control{
    display:flex ;
    flex-direction: column;

}
.button_row{
    display: flex;
    flex-direction: row;
}