body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height:100vh;
    
}
*{
    box-sizing: border-box;
}
:root{
    --backgrondColorTopSection:#F9FAFB;
}
.div_left{
    flex-basis: 35%;
    background-image: url("photo-1601042879364-f3947d3f9c16.avif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.footer{
    color:#E0E3D8;
    text-align: center;
    margin-top: auto;
}
.logo{
    color: #FFFFFF;
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
}
.div_right{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form_control{
    display:flex ;
    flex-direction: column;
}

.top_section{
    background-color:var(--backgrondColorTopSection);
    padding-left: 40px;
    flex-basis: 30%;
    min-width: 100%;
    font-size: 25px;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top_section p{
    max-width: 70%;
}
.bottom_section{
    min-width: 100%;
    background-color: var(--backgrondColorTopSection);
    padding: 40px;
    flex-basis: 30%;
    font-size: larger;
}
button{
    background-color: #596D48;
    color: #EDEFEC;
    padding: 10px 40px;
    border-style: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: 550;
    box-shadow: black 1px 1px 4px 2px;
}
button:hover{
    background-color: #3a562d;
}
.bottom_section p{
    font-size: medium;
    padding-top: 10px;
}
.bottom_section a:link{
    text-decoration: none;
    color: #596D48;
    font-weight: 550;
}
.bottom_section a:visited{
    color: #596D48;
}
.bottom_section a:hover{
    color: #3a562d;
}
form{
    display: flex;
    flex-basis: 40%;
    min-width: 100%;
    padding: 30px;
}
fieldset{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}
.formRow{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    flex-basis: 33%;
    gap: 20px;
    justify-content: start;
}
.form_control{
    flex-basis: 50%;
}
input{
    padding: 7px 14px;
    max-width: 65%;
    border-radius: 5px;
    border: #E9EBEE 1px solid;
    outline: none;
}
input:focus{
    box-shadow: gray 0.5px 0.5px 2px 0.5px;
    border-color: blue;
}
input:invalid{
    border-color: red;
    box-shadow: none;
}
legend{
    font-size: 25px;
    padding-bottom: 15px;
}